<nav class="navbar navbar-expand-md bg-light">
    <a class="button mx-4 text-decoration-none fs-6" routerLink="/" routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Home</a> 
    <a class="button mx-4 text-decoration-none fs-6" routerLink="/tasks" routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Tasks</a> 
    <a class="button mx-4 text-decoration-none fs-6" routerLink="/news" routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">News</a> 
    <a class="button mx-4 text-decoration-none fs-6" routerLink="/tools" routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Tools</a> 
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>