<h2 class="">News</h2>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, laboriosam velit distinctio porro incidunt similique delectus autem totam, nostrum libero expedita eos dolore voluptatem a fugit consequuntur? Deserunt, labore praesentium?</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio eum reiciendis numquam aut vero qui rem provident esse? Repudiandae dolores neque quaerat blanditiis quam beatae totam reiciendis veritatis assumenda?</p>
        </div>
      </div>
    </div>
  </div>